@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    --btn-bg: theme('colors.violet.600');
    --btn-hover: theme('colors.violet.500');
    --btn-text: theme('colors.white');
    @apply bg-[color:var(--btn-bg)] border-2 border-[color:var(--btn-bg)]  hover:bg-[color:var(--btn-hover)] text-[color:var(--btn-text)] font-medium text-sm rounded-lg px-4 py-2;
  }
  .button-gray {
    --btn-bg: theme('colors.gray.100');
    --btn-hover: theme('colors.gray.200');
    --btn-text: theme('colors.gray.600');
  }
  .button-outline{
    --btn-bg: theme('colors.violet.500');
    --btn-hover: theme('colors.violet.600');
    @apply bg-transparent border-2 border-[color:var(--btn-bg)] hover:border-[color:var(--btn-hover)] text-[color:var(--btn-bg)] font-medium text-sm rounded-lg px-4 py-2;
  }

  .input{
    @apply bg-white min-w-0 border border-gray-200 h-[36px] px-2.5 py-1 text-base md:text-sm rounded-lg focus:border-blue-500
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

code{
  @apply bg-gray-100 rounded px-1 inline-block shadow-inner;
}
